@import "tailwindcss";
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de scroll pero mantener funcionalidad */
.custom-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}